#%RAML 1.0
version: 1.0.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/24087352-f339-4692-942d-c82970a1d6e9/ # 
title: main
traits:
  pagination: 
  headers-required:
    headers:
      id:  
        description: Id of employee
        type: integer
        example: 1
  content-type-required:
    headers:
      content-type:
        type: string
        example: application/json
  accept-required:
    headers:
      accept:
        type: string
        example: application/json
  client-credentials-required:
    headers:
      client_id:
        type: string
        example: 7b404180fbb84b099179a4126a9576ff
      client_secret:
        type: string
        example: e241f4aa3eca4b2a8FA67A2FEF5754F8
  standard-error-responses:
    responses:
      400:
        description:
          The server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).
        body:
          application/json:
      401:
        description:
          The supplied credentials are invalid.
        body:
          application/json:
      403:
        description:
          There is a problem with the credentials that were provided.
      404:
        description:
          The server cannot find the requested resource.
        body:
          application/json:
            example: | 
              !include examples/ping/error-response-sample.json
      405:
        description:
          A request was made of a resource using a request method not supported by that resource; for example, using GET on a form which requires data to be presented via POST, or using PUT on a read-only resource.
        body:
          application/json: 
      406:
        description:
          The target resource does not have a current representation that would be acceptable to the user agent.
        body:
          application/json:
      415:
        description:
          The accept header specified an unsupported media type.
        body:
          application/json: 
      500:
        description:
          An internal processing error occurred while processing the API request.
        body:
          application/json:
      597:
        description:
          Experience API timeout during dependent service invocation.
        body:
          application/json:
      598:
        description:
          Process API timeout during dependent service invocation.
        body:
          application/json:
      599:
        description:
          System API timeout during dependent service invocation.
        body:
          application/json:
 
/ping:
  get:
    description: Return a standard response.
    is: [client-credentials-required,accept-required,standard-error-responses]
    responses:
      200:
        body:
          application/json:
            example: !include examples/ping/get-response.json
  put:
    description: Return a standard response
    is: [client-credentials-required,content-type-required,accept-required,standard-error-responses]
    body:
      application/json:
        example: !include examples/ping/put-request.json
    responses:
      200:
        body:
          application/json:
            example: !include examples/ping/put-response.json

/getempdata:
    get:
      description: get request to retrieve emp data
      is: [client-credentials-required,standard-error-responses]
      responses:
        200:
          body:
            application/json:
                

/getemp:
    get:
      description: get request to retrieve emp data using id
      is: [headers-required,client-credentials-required,accept-required,standard-error-responses]
      responses:
        200:
          body:
            application/json:
              example: !include examples/emp_data.json
                 

/addemp:
  post:
    description: post request to add employee info
    is: [client-credentials-required,accept-required,standard-error-responses]
    body:
      application/json:
        example: !include examples/emp_data.json
    responses:
      200:
        body:
          application/json:
            example: !include examples/addemp_response.json
              


